.siteList{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    justify-content: space-between;
}

@media (min-width: 500px){
    .siteList{
      margin-left: 0;
      margin-right: -25px;
      justify-content: flex-start;
    }
  }
.siteList>li{
margin-bottom: 10px;
}
@media(min-width: 500px){
    .siteList > li {
      margin-right: 25px;
    }
  }
.siteList .site-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    border:1px #ddd solid;
    border-radius: 4px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px 0;
}
.siteList .site-wrapper:hover{
    box-shadow: 0px 0px 10px 3px #999;
    cursor: pointer; 
}
.siteList .site-wrapper>.logo{
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 240, 240);
    border-radius: 50%;
   font-size: 32px;
}
.siteList.site-wrapper>.link{
    font-size: 14px;
    margin-top: 4px;
}
.siteList .addButton{
    width: 160px;
}
.delete{
    height: 1.5em;
    width: 1.5em;
}
.close{
    position: absolute;
    right: 0;
    top: 0
}
@media(min-width:500px){
  .close{
      display: none;
  }
  .site-wrapper:hover>.close{
      display: block;
  }
}